@import url("https://fonts.googleapis.com/css2?family=Sometype+Mono:ital,wght@0,400..700;1,400..700&display=swap");
html {
  overflow: hidden;
}

*::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html,
body {
  background-color: #fafafa;
}

* {
  margin: 0;
  font-family: "Sometype Mono", monospace;
}

.container {
  width: 100vw;
}

.nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 0;
  transform: translateY(-100px);
}
.nav .nav-section {
  width: 50%;
  padding: 1rem 2rem;
}
.nav #menu-wrap {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.nav #menu-wrap #menu-btn {
  cursor: pointer;
}

#menu {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 0 5%;
  width: 30%;
  height: 100vh;
  position: fixed;
  z-index: 99;
  background: rgba(250, 250, 250, 0.7411764706);
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
  top: 0;
  right: 0;
  transform: translateX(100%);
}
#menu .menu-item {
  text-decoration: none;
  font-size: 5rem;
  color: #000000;
}
#menu #goback {
  font-size: 1rem;
  cursor: pointer;
}

.footer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}
.footer #info {
  width: 30%;
  padding: 5% 10%;
}
.footer #social {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.footer #social a {
  text-decoration: none;
  color: #000000;
}

#loader-container {
  position: sticky;
  overflow: hidden;
  width: 100%;
  height: 1px;
  top: 50%;
  transform: translate(0%, -50%);
  z-index: 99;
}
#loader-container #loader {
  width: 0%;
  height: 1px;
  background-color: #000000;
  z-index: 99;
}

.portfolio-container {
  padding: 2.5rem 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  opacity: 0;
  visibility: hidden;
}
.portfolio-container .border-top {
  background-color: #afafaf;
  width: 100%;
  height: 1px;
}
.portfolio-container .project {
  height: -moz-max-content;
  height: max-content;
  margin: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  cursor: pointer;
}
.portfolio-container .project .project-text-wrap {
  width: 100%;
  padding: 1rem 0;
}
.portfolio-container .project .project-text-wrap .project-title {
  font-size: 1rem;
}
.portfolio-container .project .project-text-wrap .project-type {
  font-size: 0.8rem;
  color: #afafaf;
}
.portfolio-container .project .project-image {
  width: 100%;
  height: 16.6666666667vw;
  -o-object-fit: cover;
     object-fit: cover;
}
.portfolio-container .project .project-image img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (max-width: 1450px) {
  .portfolio-container {
    grid-template-columns: repeat(4, 1fr);
  }
  .portfolio-container .project .project-image {
    height: 20vw;
  }
  .intro #brand-name-wrap #brand-name {
    font-size: 10rem;
    line-height: 10rem;
  }
}
@media (max-width: 900px) {
  .portfolio-container {
    grid-template-columns: repeat(3, 1fr);
  }
  .portfolio-container .project .project-image {
    height: 25vw;
  }
  .intro #brand-name-wrap #brand-name {
    font-size: 8rem;
    line-height: 10rem;
  }
  #menu {
    width: 100%;
    align-items: center;
  }
  .footer {
    flex-direction: column;
  }
  .footer #info {
    width: 100%;
    text-align: center;
    padding: 2rem;
  }
  .footer #social {
    width: 100%;
    text-align: center;
    padding: 2rem;
  }
}
@media (max-width: 500px) {
  .portfolio-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .portfolio-container .project .project-image {
    height: 90.9090909091vw;
  }
  #menu {
    width: 100%;
    align-items: center;
  }
  .intro #brand-name-wrap #brand-name {
    font-size: 5rem;
    line-height: 10rem;
  }
  .footer {
    flex-direction: column;
  }
  .footer #info {
    width: 100%;
    text-align: center;
  }
  .footer #social {
    width: 100%;
    text-align: center;
  }
}/*# sourceMappingURL=style.css.map */